# 1. Copy this file and rename it to .env
# 2. Replace the placeholders (your_...) with your actual credentials.

# --- Server Config ---
PORT=3000

# Mongoose connection string (e.g., local mongodb://127.0.0.1:27017/your_db_name or MongoDB Atlas URL)
MONGO_URI=your_mongodb_connection_string_here

# Get your API Key from Google AI Studio
GEMINI_API_KEY=your_gemini_api_key_here

# Get your API Key from OpenWeatherMap
OPENWEATHER_API_KEY=your_openweather_api_key_here

# Get your OAuth 2.0 Client ID and Secret from Google Cloud Console (GCP)
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# JWT setting
JWT_SECRET=your_super_secret_random_string_here
JWT_EXPIRES_IN=your_token_expires_in_here

# remove-bg ai-attr token 
PICTURE_TOKEN=your_remove-bg_and_ai_attr_token_here